[submodule "themes/lightbi-hugo"]
	path = themes/lightbi-hugo
	url = https://github.com/binokochumolvarghese/lightbi-hugo
[submodule "public"]
	path = public
	url = https://github.com/diegomellizo/diegomellizo.com.git
